<style type="text/css">
    * {
        box-sizing: border-box;
        margin: 0 auto;
    }
    .menu {
        background-color: aquamarine;
        display: flex;
        justify-content: space-around;
        height: 60px;
        align-items: center;
    }
    .menu li {
        list-style: none;
    }

    .menu a {
        padding: 10px 20px;
        border: solid gray 1px;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        background-color: bisque;
    }

    .content {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .contact_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .contact_form>form {
        border: solid gray 1px;
        padding: 15px 15px;
        border-radius: 10px;
    }
    .contact_form>form input {
        margin-top: 10px;
    }
    .contact_form>form textarea {
        margin-top: 10px;
    }
</style>