<div class="contact_form">
    <h1>Отправьте нам сообщение</h1>
    <form action="" method="POST">
        <input type="text" placeholder="Тема сообщения" name="message_idea"><br>
        <input type="text" placeholder="Ваше имя" name="sender_name"><br>
        <textarea 
            name="message" 
            placeholder="Введите ваше сообщение здесь" 
            id="message" 
            cols="30" 
            rows="10"
        >
        </textarea><br>
        <input type="submit" value="Отправить">
    </form>
</div>

